<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
</head>
<body>
	<div layout:fragment="content" class="container">
	
		<div class="row">
			<div id="" class="col-sm-4" ng-controller="NodeCtrl as vm">
				<h4>Chapters</h4>
				<ul class="list-unstyled">
					<li ng-repeat="node in vm.nodeList | orderBy: 'id'"  ng-include="vm.nodeTemplateUrl"></li>
				</ul>
			</div>
			<div class="col-sm-8" ng-view=""></div>
		</div>
	
		
	</div>
</body>
</html>
